{{ $page := . }}

{{ $content := $page.Content | replaceRE `(<h[1-6] id="([^"]+)".+)(</h[1-6]+>)` (printf `${1} <a aria-label="%v" class="paige-header-link text-decoration-none" href="#${2}">#</a>${3}` (i18n "paige_aria_section_link")) | safeHTML }}

{{ with $content }}
    <div class="mw-100 overflow-x-auto" id="paige-content">{{ . }}</div>
{{ end }}

{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>

{{ end }}

{{ if .Page.Store.Get "hasMermaid" }}
    <style>
        .node text {
        font-size: 100px;
        }
    </style>

{{ end }}
